[submodule "config"]
	path = config
	url = https://github.com/jeanpommier/cpgeom-georchestra-datadir.git
	branch = dockerdc
[submodule "resources/static"]
	path = resources/static
	url = https://github.com/georchestra/htdocs.git
	branch = master
